version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: php-sandbox-mysql-1
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: blog
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  php:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
    working_dir: /app
    depends_on:
      - mysql
    ports:
    - "8094:8094"
    command: php artisan serve --host=0.0.0.0 --port=8094

  mailpit:
    image: axllent/mailpit:latest
    container_name: php-sandbox-mailpit-1
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: unless-stopped

volumes:
  mysql-data:
